.nav-bar {
    display: flex;
    justify-content: ;
    align-items: right;
    list-style: nice;
    padding: 15px;
    background-color: rgb(78, 76, 76);
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 20px;
  }
  
  
  .nav-link, .sign-in-btn {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
  }
  
  .nav-link, .post-job-btn {
    color: #5ba8a4;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7a6c6c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .nav-item:hover .dropdown-content {
    display: block;
  }
  
  nav {
    background-color: rgb(71, 70, 70);
    color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav a:hover {
    color: #333;
    background-color: #817d81;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .post-job-btn {
    background-color: #84a1a0;
    color: rgb(37, 35, 43);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .sign-in-btn {
    background-color: #ad5a5a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
  }

  
  .header-text {
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px black;
  }
  
  
  .logo {
    
    width: 89.9px;
    height: 60px;
    border-radius: 2px;
    object-fit: cover;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-image: url('/images/Jobiconic.png');
    background-size: contain;
    height: 100ch;
    margin: 5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .header-text {
    font-size: 48px;
    color: white;
    text-shadow: 1px 1px black;
    margin-top: 20px;
  }
  
  .search-bar {
    width: 2cm;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }

/* Style the search field */
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the search tton */
  form.search button {
    float: center;
    width: 20%;
    padding: 10px;
    background: #969899;
    color: rgb(17, 16, 16);
    font-size: 17px;
    border: radius ;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #3a4853;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }
  .text-container {
    display: flex;
    justify-conter: ;
    align-items: center;
    width: 70%;
    margin: 10px auto;
  }
  

  .center-aligned {
    text-align: center;
    font-family: serif;
    font-size: 10px;
    color: rgb(82, 76, 76);
  }
  
  .background-container {
    background-color: #f7f5f5;
    height: 50px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text-on-top {
    color: rgb(153, 113, 113);
    font-size: 36px;
    font-weight: bold;
  }
  
  .create-resume-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    margin-top: 20px;
  }
  
  
  .background-container {
    background-color: #ccc;
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
  }